<launch>

<node required="false" pkg="rosbag" type="record" name="mybag"
      args=" -b 1024 -o /home/nuc/ssd/viral_ /uwb_endorange_info /uwb_exorange_info /node_pos_sc "
           "/os_cloud_node/points /os_cloud_node/imu "
           "/camera_rs_D455/infra1/image_rect_raw "
           "/camera_rs_D455/infra2/image_rect_raw "
           "/camera_rs_D455/color/image_raw "
           "/camera_rs_D455/imu "
           "/camera_rs_D455/depth/camera_info "
           "/camera_rs_D455/depth/color/points "
           "/camera_rs_D455/depth/image_rect_raw "
           "/camera_rs_D455/extrinsics/depth_to_color "
           "/camera_rs_D455/extrinsics/depth_to_infra1"
           "/camera_rs_D455/extrinsics/depth_to_infra2"
           "/camera_rs_D455/gyro/sample"
           "/camera_rs_D455/accel/sample"
           "/livox/lidar"
           "/imu_vn_200/GPS"
           "/imu_vn_200/INS"
           "/imu_vn_200/fluid_pressure"
           "/imu_vn_200/imu"
           "/imu_vn_200/magnetic_field"
           "/imu_vn_200/odom"
           "/imu_vn_200/temperature"
           "/ltp_tag0/nlnf3"
           "/ltp_tag1/nlnf3"/>  
</launch>



